header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0f8b8d;
  padding: 0.5em 2em;
  align-items: center;
}
header .left .user {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 2em;
  color: white;
  gap: 0.5rem;
  background-color: white;
  color: #0f8b8d;
  border-radius: 100rem;
}
header .mid {
  font-size: 3rem;
  color: white;
}
header .mid .name {
  font-family: iran-nastalig !important;
}
header .right {
  display: flex;
}
header .right .menu {
  display: none;
}
header .right .menu button {
  font-size: 3rem;
}
header .bottom {
  width: 100%;
}
header .bottom ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  direction: rtl;
  color: white;
  padding: 1em;
}
header .bottom ul li {
  padding: 0.6em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 0.9rem;
}
header .bottom ul .selected {
  background-color: white;
  border-radius: 100rem;
  color: #0f8b8d;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #40484b;
  color: white;
  border-radius: 1rem 1rem 0 0;
  padding: 3em 4em;
  gap: 1rem;
  direction: rtl;
  margin-top: auto;
}
footer ul {
  line-height: 2.4;
}
footer ul h1 {
  font-size: 1.6rem;
  padding-bottom: 0.25em;
}
footer ul li {
  opacity: 0.7;
  list-style: disc;
  margin-right: 1rem;
  font-size: 0.9rem;
}
footer .social-media li {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;
  text-align: right;
  place-content: center;
  align-items: center;
}
footer .social-media li .icon {
  font-size: 2rem;
  margin-left: 1rem;
}
html {
  overflow-y: scroll;
}

.main-page {
  display: flex;
  flex-direction: column;
}
.main-page .poster {
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
.main-page .poster img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 100%;
}
.main-page .intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  place-content: center;
  padding: 2em 0;
  background-color: white;
  position: relative;
  top: -5rem;
  z-index: 4;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.main-page .intro .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.75rem;
  text-align: center;
}
.main-page .intro .item svg {
  width: calc(3vw + 3rem);
  height: calc(3vw + 3rem);
}
.main-page .intro .item h1 {
  font-size: 1.1rem;
}
.main-page .intro .item::after {
  opacity: 0;
  content: "";
  /* Polygon 1 */
  position: absolute;
  top: calc(100% + 1rem);
  height: 4rem;
  width: 5rem;
  /* Tertiary */
  background: #e07a5f;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  rotate: 180deg;
  transition: all 0.5s ease;
  scale: 0;
}
.main-page .intro .selected::after {
  opacity: 1;
  scale: 1;
}
.main-page .articles {
  width: 90%;
  align-self: center;
  border-top: 10px solid #e07a5f;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-page .articles .articles-header {
  text-align: center;
  font-size: 1.25rem;
}
.main-page .articles .articles-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-page .articles .articles-body .item {
  direction: rtl;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1rem;
}
.main-page .articles .articles-body .item .item-body {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  line-height: 1.6;
  font-size: 0.9rem;
}
.main-page .articles .articles-body .item .item-body h1 {
  font-size: 1.5rem;
}
.main-page .articles .articles-body .item .item-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .articles .articles-body .item .item-header img {
  width: 15rem;
  aspect-ratio: 16/9;
  border-radius: 1rem;
}
.main-page .articles .articles-body .item .item-buttons {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.main-page .articles .articles-body .item .item-buttons button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #0f8b8d;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  border-radius: 100rem;
}
.main-page .articles .articles-body .item .item-buttons .link {
  background-color: #e07a5f;
}
.main-page .stations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.main-page .stations .item {
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  border-radius: 0.75rem;
  width: 22rem;
  max-width: 100%;
  font-size: 0.9rem;
  text-align: center;
  gap: 0.5rem;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}
.main-page .stations .item h1 {
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.1) 0.2rem 0.2rem 0.2rem;
}
.main-page .stations .item p {
  opacity: 0.8;
}
.main-page .stations .first {
  background-color: #3d405b;
}
.main-page .stations .second {
  background-color: #81b29a;
}
.main-page .stations .third {
  background-color: #c2a878;
}
.main-page .about-unversity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  align-items: center;
}
.main-page .about-unversity .left {
  text-align: right;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
.main-page .about-unversity .left h1 {
  font-size: 2rem;
}
.main-page .about-unversity .left p {
  font-size: 1.25rem;
}
.main-page .about-unversity .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #0f8b8d;
  color: white;
  padding: 0.75em 3em;
  border-radius: 100rem;
}
.main-page .total-views {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 1rem;
  color: white;
}
.main-page .total-views .item {
  text-align: center;
  border-right: 4px white solid;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.main-page .total-views .item:last-child {
  border-right: none;
}
.main-page .total-views .item h1 {
  font-size: 5rem;
}
.main-page .total-views .item span {
  font-size: 1.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 18rem;
  align-items: start;
}
.gallery .right {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbe4e8;
  border-radius: 0 0 1rem 1rem;
}
.gallery .right h1 {
  background-color: #0f8b8d;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  border-bottom: 0.7rem rgb(128, 172, 151) solid;
}
.gallery .right ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2em;
}
.gallery .right li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  color: black;
}
.gallery .right li img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}
.gallery .right li span {
  font-size: 1.25rem;
  padding: 1em;
}
.gallery .left {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.gallery .left .item {
  background-color: rgba(255, 255, 255, 0.686);
  border-radius: 1rem;
  overflow: hidden;
  text-align: end;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.gallery .left .item .item-header .image img {
  aspect-ratio: 16/9;
}
.gallery .left .item .item-body {
  padding: 1em;
}

.about-us {
  direction: rtl;
  padding: 3em;
  display: flex;
  flex-direction: column;
}
.about-us .descriptions {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-self: center;
}
.about-us .descriptions .item {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-us .descriptions .item h1 {
  font-size: 1.2rem;
  color: #0f8b8d;
}
.about-us .descriptions .item p {
  font-size: 0.9rem;
  line-height: 1.7;
}
.about-us .majors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}
.about-us .majors .majors-header {
  font-size: 1.5rem;
}
.about-us .majors .majors-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.about-us .majors .majors-body .list {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 91, 92, 0.2509803922);
  border-radius: 1rem;
  gap: 1rem;
  padding: 2em 2em;
  padding-top: 0;
}
.about-us .majors .majors-body .list .list-header {
  background-color: #0f8b8d;
  border-radius: 0 0 100rem 100rem;
  color: white;
  font-size: 1.1rem;
  padding: 0.5em 2em;
}
.about-us .majors .majors-body .list li {
  font-size: 0.9rem;
  text-align: center;
  background-color: white;
  border-radius: 100rem;
  padding: 0.5em 1em;
}
.about-us .why-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  background-color: #afd4ff;
  border-radius: 1rem;
}
.about-us .why-us .right {
  display: flex;
  flex-direction: column;
  padding: 2em;
  font-size: 2rem;
  align-items: center;
  gap: 2rem;
}
.about-us .why-us .right .left-header {
  font-size: 2.5rem;
}
.about-us .why-us .right .left-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-us .why-us .right .left-body .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.75em;
  border-bottom: 4px white dashed;
  text-align: center;
}
.about-us .why-us .right .left-body .item:nth-child(odd) {
  border-left: 4px white dashed;
}
.about-us .why-us .right .left-body .item:nth-child(5) {
  border-bottom: none;
}
.about-us .why-us .right .left-body .item:nth-child(6) {
  border-bottom: none;
}
.about-us .why-us .right .left-body .item .item-header {
  font-size: 1.5rem;
}
.about-us .why-us .right .left-body .item .item-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.5rem;
}
.employes {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: start;
}
.employes .left {
  display: flex;
  flex-direction: column;
}
.employes .left ul {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  padding: 2em;
  gap: 2rem;
}
.employes .left ul .item {
  justify-content: center;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: white;
  border-radius: 1rem;
  flex-direction: column;
  background-color: #e9e9e9;
  box-shadow: 0.2rem 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
}
.employes .left ul .item .item-header img {
  width: 8rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.employes .left ul .item .item-body {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.employes .left ul .item .item-body .number {
  display: flex;
  gap: 0.5rem;
}
.employes .left ul .item .item-body .number span {
  font-size: 0.9rem;
}
.employes .left ul .item .item-body .number span:first-child::after {
  content: " : ";
}
.employes .right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  background-color: #0f8b8d;
  padding: 2em;
  border-radius: 0 0 1.5rem 1.5rem;
}
.employes .right h1 {
  font-size: 1.1rem;
  text-align: center;
  border-radius: 100rem;
  max-width: 18ch;
  color: white;
  font-size: 1.5rem;
  text-align: right;
}
.employes .right ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}
.employes .right ul li {
  font-size: 1.1rem;
  color: white;
  text-align: center;
  border-radius: 100rem;
  padding: 0.5em 1em;
  color: white;
  cursor: pointer;
  transition: all 1s ease;
  border-right: 0 solid white;
}
.employes .right ul li:hover {
  background-color: white;
  color: #0f8b8d;
}
.employes .right ul .selected {
  background-color: white;
  color: #0f8b8d;
}
.employes .phone-number {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: white;
  padding: 2em;
}
.employes .phone-number .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.25rem;
}
.employes .phone-number .phone span {
  background-color: #0f8b8d;
  margin-right: -2rem;
  padding-right: 1em;
  padding: 0.5em 2em;
  border-radius: 100rem 0 0 0;
}
.employes .phone-number .phone .icon {
  font-size: 5rem;
  background-color: #c2a878;
  color: white;
  border-radius: 50%;
  padding: 1rem;
}

.files-page {
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
  margin: auto;
  padding: 2em;
}
.files-page .files-container {
  direction: rtl;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  transition: all 1s ease;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 0.5em 2em;
  box-shadow: 0.3rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0);
}
.files-page .files-container .container-header {
  cursor: pointer;
  transition: all 1s ease;
  padding: 0em 1em;
}
.files-page .files-container .container-header h1 {
  font-size: 1.25rem;
}
.files-page .files-container .container-header small {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.files-page .files-container .container-header:hover {
  background-color: #0f8b8d;
  color: white;
  padding: 0.3em 2.25em;
  border-radius: 0.25rem !important;
}
.files-page .files-container .container-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.files-page .files-container .container-body .files {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2em;
}
.files-page .files-container .container-body .files .file {
  list-style-type: disc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: decimal;
  flex-wrap: wrap;
  gap: 5rem;
}
.files-page .files-container .container-body .files .file .file-download {
  display: flex;
  gap: 1rem;
}
.files-page .files-container .container-body .files .file .file-download button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.files-page .files-container .container-body .files .file .file-download button:last-child {
  font-size: 1rem;
}
.files-page .files-container .container-body .files .file .file-download button:first-child {
  border: 1px dashed rgb(0, 0, 0);
  padding: 0.2em 1em;
  border-radius: 100rem;
  color: black;
}
.files-page .expanded .container-header {
  background-color: #0f8b8d;
  color: white;
  padding: 0.3em 2.25em;
}
.files-page .expanded .container-body {
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 1100px) {
  footer {
    display: none;
  }
  header {
    z-index: 999 !important;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap !important;
  }
  header .left {
    display: none !important;
  }
  header .mid {
    margin-left: auto;
  }
  header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
  }
  header .right img {
    display: none;
  }
  header .menu {
    display: flex !important;
  }
  header .menu * {
    font-size: 2rem !important;
  }
  header nav {
    background-color: #0f8b8d !important;
    position: fixed;
    right: 0;
    top: 6rem;
    width: 20rem !important;
    height: 100%;
    transition: all 1s ease;
    transform: translateX(100%);
    padding: 1em;
  }
  header nav ul {
    flex-direction: column;
  }
  header .open {
    transform: translateX(0%);
  }
  section {
    display: none !important;
  }
  main {
    margin-top: 6.5rem;
  }
  .poster {
    margin-top: 0 !important;
    display: flex !important;
  }
  .intro {
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
  }
  .intro .item::after {
    display: none !important;
    opacity: 1;
    content: "";
    /* Polygon 1 */
    position: absolute;
    height: 4rem;
    width: 5rem;
    /* Tertiary */
    background: #e07a5f;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
    rotate: 180deg;
    transition: all 0.5s ease;
    scale: 1 !important;
  }
  .intro .selected {
    border-bottom: 1rem #e07a5f solid;
    padding-bottom: 1em;
  }
  .articles {
    display: flex !important;
    padding: 0 !important;
  }
  .articles .item {
    flex-direction: column !important;
  }
  .stations {
    display: flex !important;
    margin-top: 3rem !important;
  }
  .stations .item {
    border-radius: 0 !important;
  }
  .about-unversity {
    display: flex !important;
    flex-direction: column !important;
  }
  .about-unversity .left p {
    font-size: 0.9rem !important;
  }
  .about-unversity .left button {
    width: 100%;
    padding: 0.5em 0 !important;
  }
  .total-views {
    display: flex !important;
    gap: 2rem;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
  }
  .total-views .item {
    border: none !important;
  }
  .about-us {
    padding: 1em !important;
  }
  .about-us .majors .majors-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .about-us .why-us {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .about-us .why-us .left-header {
    font-size: 2rem !important;
  }
  .about-us .why-us .left-body {
    grid-template-columns: 1fr !important;
  }
  .about-us .why-us .left-body .item {
    border: none !important;
  }
  .employes {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .employes .right {
    border-radius: 0;
    width: 100%;
  }
  .files-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 7rem;
  }
  .files-page .files-container {
    width: 100%;
    padding: 0;
    width: 20rem;
    gap: 0 !important;
    margin-top: 1rem;
  }
  .files-page .files {
    gap: 0rem !important;
  }
  .files-page .files .file {
    gap: 0 !important;
    margin-top: 1rem !important;
  }
  .gallery {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 6rem;
  }
  .gallery .right ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .gallery .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */