$header-color-1: #0f8b8d;

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $header-color-1;
    padding: 0.5em 2em;
    align-items: center;
    .left {
        .user {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.6em 2em;
            color: white;
            gap: 0.5rem;
            background-color: white;
            color: $header-color-1;
            border-radius: 100rem;
        }
    }
    .mid {
        font-family: iran-nastalig;
        font-size: 3rem;
        color: white;
    }
    .right {
    }
    .bottom {
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            gap: 1rem;
            direction: rtl;
            color: white;
            padding: 1em;
            li {
                padding: 0.75em;
                cursor: pointer;
                transition: all 0.5s ease;
                font-size: 0.9rem;
            }
            .selected {
                background-color: white;
                border-radius: 100rem;
                color: $header-color-1;
            }
        }
    }
}

.main-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    .poster {
        img {
            object-fit: cover;
            height: 30rem;
            width: 100%;
        }
    }

    .intro {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        place-content: center;
        padding: 2em 0;
        background-color: white;
        position: relative;
        top: -5rem;
        z-index: 4;
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        box-shadow: 0.2rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            gap: 0.5rem;
            text-align: center;
            svg {
                width: calc(3vw + 3rem);
                height: calc(3vw + 3rem);
            }
            h1 {
                font-size: 0.9rem;
            }
        }

        .selected {
            &::after {
                content: "";
                /* Polygon 1 */
                position: absolute;
                top: calc(100% + 1rem);
                height: 4rem;
                width: 5rem;
                /* Tertiary */
                background: #e07a5f;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                rotate: 180deg;
            }
        }

        .selected {
        }
    }

    .articles {
        width: 90%;
        align-self: center;
        border-top: 10px solid #e07a5f;
        padding: 3em;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .articles-header {
            text-align: center;
            font-size: 1.25rem;
        }

        .articles-body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .item {
                direction: rtl;
                display: flex;
                flex-direction: row;
                gap: 2rem;
                border: 2px dashed rgba(0, 0, 0, 0.2);
                padding: 2em;
                border-radius: 1rem;
                .item-body {
                    display: flex;
                    flex-direction: column;
                    gap: 0rem;
                    line-height: 1.6;
                    font-size: 0.9rem;
                    h1 {
                        font-size: 1.5rem;
                    }
                    p {
                    }
                }
                .item-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 15rem;
                        aspect-ratio: 16/9;
                        border-radius: 1rem;
                    }
                }
                .item-buttons {
                    display: flex;
                    margin-top: 1rem;
                    button {
                        all: unset;
                        background-color: $header-color-1;
                        color: white;
                        padding: 0.5em 1em;
                        font-size: 0.9rem;
                        border-radius: 100rem;
                    }
                }
            }
        }
    }
}
