header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0f8b8d;
  padding: 0.5em 2em;
  align-items: center;
}
header .left .user {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 2em;
  color: white;
  gap: 0.5rem;
  background-color: white;
  color: #0f8b8d;
  border-radius: 100rem;
}
header .mid {
  font-size: 3rem;
  color: white;
}
header .mid .name {
  font-family: iran-nastalig !important;
}
header .bottom {
  width: 100%;
}
header .bottom ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  direction: rtl;
  color: white;
  padding: 1em;
}
header .bottom ul li {
  padding: 0.6em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 0.9rem;
}
header .bottom ul .selected {
  background-color: white;
  border-radius: 100rem;
  color: #0f8b8d;
}

.main-page {
  display: flex;
  flex-direction: column;
}
.main-page .poster {
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
.main-page .poster img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30rem;
  width: 100%;
}
.main-page .intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  place-content: center;
  padding: 2em 0;
  background-color: white;
  position: relative;
  top: -5rem;
  z-index: 4;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.main-page .intro .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.75rem;
  text-align: center;
}
.main-page .intro .item svg {
  width: calc(3vw + 3rem);
  height: calc(3vw + 3rem);
}
.main-page .intro .item h1 {
  font-size: 1.1rem;
}
.main-page .intro .selected::after {
  content: "";
  /* Polygon 1 */
  position: absolute;
  top: calc(100% + 1rem);
  height: 4rem;
  width: 5rem;
  /* Tertiary */
  background: #e07a5f;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  rotate: 180deg;
}
.main-page .articles {
  width: 90%;
  align-self: center;
  border-top: 10px solid #e07a5f;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-page .articles .articles-header {
  text-align: center;
  font-size: 1.25rem;
}
.main-page .articles .articles-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-page .articles .articles-body .item {
  direction: rtl;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1rem;
}
.main-page .articles .articles-body .item .item-body {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  line-height: 1.6;
  font-size: 0.9rem;
}
.main-page .articles .articles-body .item .item-body h1 {
  font-size: 1.5rem;
}
.main-page .articles .articles-body .item .item-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .articles .articles-body .item .item-header img {
  width: 15rem;
  aspect-ratio: 16/9;
  border-radius: 1rem;
}
.main-page .articles .articles-body .item .item-buttons {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.main-page .articles .articles-body .item .item-buttons button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #0f8b8d;
  color: white;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  border-radius: 100rem;
}
.main-page .articles .articles-body .item .item-buttons .link {
  background-color: #e07a5f;
}
.main-page .stations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.main-page .stations .item {
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  border-radius: 0.75rem;
  width: 22rem;
  font-size: 0.9rem;
  text-align: center;
  gap: 0.5rem;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}
.main-page .stations .item h1 {
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.1) 0.2rem 0.2rem 0.2rem;
}
.main-page .stations .item p {
  opacity: 0.8;
}
.main-page .stations .first {
  background-color: #3d405b;
}
.main-page .stations .second {
  background-color: #81b29a;
}
.main-page .stations .third {
  background-color: #c2a878;
}
.main-page .about-unversity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  align-items: center;
}
.main-page .about-unversity .left {
  text-align: right;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
.main-page .about-unversity .left h1 {
  font-size: 2rem;
}
.main-page .about-unversity .left p {
  font-size: 1.25rem;
}
.main-page .about-unversity .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #0f8b8d;
  color: white;
  padding: 0.75em 3em;
  border-radius: 100rem;
}
.main-page .total-views {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 1rem;
  color: white;
}
.main-page .total-views .item {
  text-align: center;
  border-right: 4px white solid;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.main-page .total-views .item:last-child {
  border-right: none;
}
.main-page .total-views .item h1 {
  font-size: 5rem;
}
.main-page .total-views .item span {
  font-size: 1.5rem;
}
.main-page footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #40484b;
  color: white;
  margin-top: 2rem;
  border-radius: 1rem 1rem 0 0;
  padding: 3em 4em;
  gap: 1rem;
  direction: rtl;
}
.main-page footer ul {
  line-height: 2.4;
}
.main-page footer ul h1 {
  font-size: 1.6rem;
  padding-bottom: 0.25em;
}
.main-page footer ul li {
  opacity: 0.7;
  list-style: disc;
  margin-right: 1rem;
  font-size: 0.9rem;
}
.main-page footer .social-media li {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;
  text-align: right;
  place-content: center;
  align-items: center;
}
.main-page footer .social-media li .icon {
  font-size: 2rem;
  margin-left: 1rem;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 18rem;
  align-items: start;
}
.gallery .right {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbe4e8;
  border-radius: 0 0 1rem 1rem;
}
.gallery .right h1 {
  background-color: #0f8b8d;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  border-bottom: 0.7rem rgb(128, 172, 151) solid;
}
.gallery .right ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2em;
}
.gallery .right li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  color: black;
}
.gallery .right li img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}
.gallery .right li span {
  font-size: 1.25rem;
  padding: 1em;
}
.gallery .left {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.gallery .left .item {
  background-color: rgba(255, 255, 255, 0.686);
  border-radius: 1rem;
  overflow: hidden;
  text-align: end;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.gallery .left .item .item-header .image img {
  aspect-ratio: 16/9;
}
.gallery .left .item .item-body {
  padding: 1em;
}/*# sourceMappingURL=style.css.map */